@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8">
    <title>Luksus Perfume: Home</title>
    <link href="~/css/myersReset.css" rel="stylesheet">
    <link href="~/css/Home.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDMincho:wght@400;700&family=Belleza&family=Charmonman:wght@400;700&display=swap" rel="stylesheet">
</head>
<h1>Luksus</h1>
<img src="~/css/Images/Perfume2.png">
<a class ="btn" href="~/Perfumes">
    Click here for our product catalog page!
</a>
